---
- name: Ensure database is present
  community.mysql.mysql_db:
    name: "{{ userli_mysql_db }}"
    state: present
    encoding: "utf8"
    collation: "utf8_general_ci"
    login_unix_socket: /run/mysqld/mysqld.sock
  register: database_creation

- name: Ensure mysql user is present
  community.mysql.mysql_user:
    name: "{{ userli_mysql_user }}"
    password: "{{ userli_mysql_password }}"
    priv: "{{ userli_mysql_priv }}"
    host: "localhost"
    login_unix_socket: /run/mysqld/mysqld.sock

- name: Allow mysql users from secondary instance
  community.mysql.mysql_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    priv: "{{ userli_mysql_db }}.*:INSERT,SELECT,UPDATE/{{ userli_mysql_db }}.virtual_aliases:DELETE/{{ userli_mysql_db }}.virtual_vouchers:DELETE"
    host: "{{ item.host }}"
    login_unix_socket: /run/mysqld/mysqld.sock
  with_items: "{{ userli_secondary_users }}"
  when: userli_secondary_users is defined

- name: Create default database schema # noqa no-changed-when no-handler
  ansible.builtin.command: bin/console doctrine:schema:create
  args:
    chdir: "{{ userli_symfony_path }}"
  environment:
    APP_ENV: "prod"
  become: true
  become_user: "{{ userli_user }}"
  when: database_creation.changed
