---
- name: Dump environment for better performance # noqa no-changed-when ignore-errors
  ansible.builtin.command: composer dump-env prod
  args:
    chdir: "{{ userli_symfony_path }}"
  environment:
    APP_ENV: "prod"
  become: true
  become_user: "{{ userli_user }}"
  ignore_errors: true
  notify: Adjust permissions for dumped environment file

- name: Adjust permissions for dumped environment file
  ansible.builtin.file:
    dest: "{{ userli_home }}/userli-{{ userli_version }}/.env.local.php"
    owner: "{{ userli_user }}"
    group: "{{ userli_user }}"
    mode: "0640"

- name: Restart webserver
  ansible.builtin.service:
    name: "{{ userli_webserver }}"
    state: restarted

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart userli services
  ansible.builtin.service:
    name: "{{ item }}"
    state: restarted
  loop:
    - userli-worker.service
    - userli-scheduler.service

- name: Restart userli-collector
  ansible.builtin.service:
    name: "{{ item }}"
    state: restarted
  loop:
    - userli-collector.service
    - userli-collector.timer
